<template name="ghrepository_details">
    <section class="repository-details">
    {{#each ghrepository}}
        <div class="repository-main-data">
            <figure>
                <img src="{{ avatarUrl }}" alt="{{ fullName }}">
            </figure>
            <ul>
                <li>
                    <span>Name:</span> {{ repositoryName }}
                </li>
                <li>
                <span>Full repository name: </span>{{ fullName }}
                </li>
                <li>
                <span>Author: </span>{{ author }}
                </li>
                <li>
                <span>Default branch: </span>{{ defaultBranch }}
                </li>
                <li>
                <span>Homepage: </span><a href="{{ homepage }}" target="_blank">{{ homepage }}</a>
                </li>
                <li>
                <span>License: </span>{{ license }}
                </li>
            </ul>
        </div>
        <ul class="evaluation-data">
            <li> <strong>Open Issues:</strong> <br> {{ issues }} </li>
            <li> <strong>Last commit Date:</strong> <br> {{ formatDate lastCommit.date }} </li>
            <li> <strong>Last commit Author:</strong> <br> {{ lastCommit.author }} </li>
        </ul>
        <h4> Last commit Message: </h4> 
        <p>{{ lastCommit.message }}</p>
        <h2 class="score-result">SCORE: {{ result }}</h2>
    {{/each}}
    </section>
</template>